.signup-form-modal-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: #333333;
  border-radius: 12px;
}

.sign-up-header {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.signup-email-label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.signup-email-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 16px;
}

.signup-username-label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.signup-username-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 16px;
}

.signup-password-label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.signup-password-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 16px;
}

.signup-cpassword-label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.signup-cpassword-input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 16px;
}

.modal-signup-button {
  width: 100%;
  padding: 12px;
  background-color: #00a82d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.modal-signup-button:hover {
  background-color: #008f26;
}